<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<% layout('layouts/boilerplate')%>

<div class="row">
  <div class="card shadow col-md-8 mx-auto">
    <h1 class="text-center">About ScanIt</h1>
    <div class="flex-column">
      <div class="card-body">
          <p>ScanIt is a one stop solution to your problems of marking up handwritten mathematical expressions.</p>

          <p>
              This project was created as an Final Year Project from Nanyang Technological University. 
              ScanIt uses a modern CNN based approach developed by <a target=”_blank” href = "https://ieeexplore.ieee.org/document/9288272">Caroline and Team</a> to obtain LaTeX strings from user uploaded images.</p>
            
            <p>Provide feedback at <a target=”_blank” href =  "mailto: sr0001av@e.ntu.edu.sg">THIS EMAIL</a></p>


            <a href="https://www.linkedin.com/in/pranav-sriram-bbbaaa31/" class="fa fa-linkedin" style="
                padding: 20px;
                font-size: 30px;
                width: 30px;
                text-align: center;
                text-decoration: none;
                border-radius: 50%;" target=”_blank”></a>
        <a href="/" class="btn btn-info btn-block">Home</a>
      </div>
    </div>
  </div>
</div>
